@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA3tzZAAAAAAAAAAAQAAAAOAAAAHwAAAD+AAAB/AAAA/gABAfwAA8P4AAf38AAP/+AAH//AAD//gABx/wAA4P+AAcD/gAOA/8AHAf/ADgOP4BwHB8AYDgeAABwHAAA4DgAAcBwAAOA4AADAcAAAAOAAAAHAAAADgAAABwAAAAYAAAAAAAA////x////4P///8B///+AP///AD///gA//HwAf/gYAP/wAAH/4AAD/8AAB/+AAA//AAAf/gAAP/wEAD/4DgAf8BwAH+A4AA/AcAAPwOAgD8HAcB/DgOA//wHAf/4DgP/+BwH//g4D//4cB//f+A//z/Af/8/wP//D8H//wfD//8='),
        auto;
}

nav {
    height: 120px;
}
.liste__big__screen__logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;


}
.logo_sncfood_main {
    margin-top: 2rem;
} 
/* Grand ecran */
.linkBigScreen{
    text-decoration: none;
    color: rgb(224, 54, 24);
    font-weight: bold;
    font-family: Outfit, 'sans-serif';
}

.liste__big__screen__logo {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.liste__big__screen {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    height: 100px;
    margin: 0;
    padding: 0;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 1.5rem;
}

.liste__li__big {
    margin-right: 30px;
    margin-left: 20px;
}

.liste__li__big a {
    text-decoration: none;
    color: rgb(224, 54, 24);
    font-weight: bold;
    font-family: Outfit, 'sans-serif';
}

.nav-btn {
    display: none;
}

@media screen and (max-width: 700px) {
    * {
        cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA3tzZAAAAAAAAAAAQAAAAOAAAAHwAAAD+AAAB/AAAA/gABAfwAA8P4AAf38AAP/+AAH//AAD//gABx/wAA4P+AAcD/gAOA/8AHAf/ADgOP4BwHB8AYDgeAABwHAAA4DgAAcBwAAOA4AADAcAAAAOAAAAHAAAADgAAABwAAAAYAAAAAAAA////x////4P///8B///+AP///AD///gA//HwAf/gYAP/wAAH/4AAD/8AAB/+AAA//AAAf/gAAP/wEAD/4DgAf8BwAH+A4AA/AcAAPwOAgD8HAcB/DgOA//wHAf/4DgP/+BwH//g4D//4cB//f+A//z/Af/8/wP//D8H//wfD//8='),
            auto;
    }

    /* Petit ecran burger */
    nav {
        height: 185px;
    }

    .liste {
        height: 100px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .liste__li:nth-child(1) {
        margin-top: 30px;
    }

    .liste__li {
        height: 50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;

    }

    .liste__li a {
        color: rgba(224, 54, 24);
        font-family: Outfit, 'sans-serif';
        text-decoration: none;

    }

    .nav-btn {
        display: flex;
        width: 100%;
        justify-content: flex-end;

    }

    .nav-btn button {
        border: none;
        font-size: 3rem;
        width: 15%;
        display: flex;
        justify-content: center;
        background-color: rgba(219, 214, 236, 0);
    }

    .nav-btn {
        justify-content: center;
    }

    .liste__li__big {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    * {
        cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA3tzZAAAAAAAAAAAQAAAAOAAAAHwAAAD+AAAB/AAAA/gABAfwAA8P4AAf38AAP/+AAH//AAD//gABx/wAA4P+AAcD/gAOA/8AHAf/ADgOP4BwHB8AYDgeAABwHAAA4DgAAcBwAAOA4AADAcAAAAOAAAAHAAAADgAAABwAAAAYAAAAAAAA////x////4P///8B///+AP///AD///gA//HwAf/gYAP/wAAH/4AAD/8AAB/+AAA//AAAf/gAAP/wEAD/4DgAf8BwAH+A4AA/AcAAPwOAgD8HAcB/DgOA//wHAf/4DgP/+BwH//g4D//4cB//f+A//z/Af/8/wP//D8H//wfD//8='),
            auto;
    }

    .liste__li {
        display: none;
    }
}