@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    font-family: Outfit, "sans serif";
}

:root {
  --colorQuest: rgba(221, 221, 221, 0.432);
  --mainColor: rgb(224, 54, 24);
}


.recipeCard {
    display: flex;
    width: 33rem;
    height: 30rem;
    flex-direction: row;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: 4px 5px 10px 5px rgba(74, 70, 70, 0.37);
    background-image: url("../svg/legumes.svg");
    z-index: 52;
    background-color: var(--mainColor);
        
  }

  .recipeCard__image {
    width: 17rem;
    object-fit: cover;
    border-radius: 2rem 0 0 2rem  ;
 }
  
  .recipeCard__text {
    height: 30rem;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--mainColor);
    width: 100%;
    border-radius: 2rem 0 0 2rem;
    transform: translateX(-2rem);
    padding-right: 0;
    overflow: hidden;
    }

  .recipeCard__text__name {
    padding-left: 1rem;
    text-align: left;
    font-size: larger;
    
  }

  .receipeCard__text__ingredients {
    text-align: left;
    /* overflow: hidden;
    padding-bottom: 1rem; */
  }

  .recipeCard__text .recipeCard__text__co2Emissions {
    align-self: flex-end;
    color: white;
  }
