@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    font-family: Outfit, "sans serif";
}

:root {
  --colorQuest: rgba(221, 221, 221, 0.432);
  --mainColor: rgb(224, 54, 24);
}


.recipeCard {
    display: flex;
    width: 33rem;
    height: 30rem;
    flex-direction: row;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: 4px 5px 10px 5px rgba(74, 70, 70, 0.37);
    background-image: url("../svg/legumes.svg");
    z-index: 52;
    background-color: var(--mainColor);
        
  }

  .recipeCard__image {
    width: 17rem;
    object-fit: cover;
    border-radius: 2rem 0 0 2rem  ;
 }
  .recipeCard__text__colorbox {
    background-color: var(--mainColor);
    border-radius: 2rem 0 0 2rem;
    transform: translateX(-2rem);
  }

  .recipeCard__text {
    height: 25rem;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    padding-left: 1rem;
    overflow: auto;
    text-overflow:ellipsis;
    padding-top: 3.5rem;
  }

  .recipeCard__text__name {
    border-radius: 0 2rem 0 0 ;
    margin-left: .5rem;
    text-align: left;
    font-size: larger;
    position: fixed;
    width: 16.2rem;
    height: 3rem;
    transform: translateY(-3.5rem);
    background-color: var(--mainColor);
    
  }

  .receipeCard__text__ingredients {
    text-align: left;
  }

  /* .recipeCard__text .recipeCard__text__co2Emissions {
    align-self: flex-end;
    color: white;
  } */
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background: var(--mainColor);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
