
.response__recipes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    font-weight: bold;
}
.response__searchForm {
    display: flex;
    justify-content: center;
    margin-top: 20%;

}