@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    font-family: Outfit, 'sans sérif' ;
}

.title {
    font-family: Outfit, 'sans sérif';
    font-size: 10em;
    margin: 160px 0px;
}

.questionnaire{
    display: flex;
    flex-direction: column;
    font-size: 3em;
}

.name, .metier, .horaire {
    justify-content: flex-start;
}

.genre, .vegetarien {
    justify-content: flex-end;
}

span{
    font-weight: bold;
}


/*bloc 1 name*/
.name{
    margin: 20px;
    padding: 20px;
    height: 600px;
    background-color: rgb(197, 15, 15);
    border-radius: 12px;
}

.name__input-label{
    padding-right: 20px;
}

.name__input-input {
    border: none;
    outline: 1px solid rgba(95, 95, 95, 0.185);
    height: 100px;
    width: 400px;
    font-size: 1em;
    border-radius: 12px;
    background-color: rgba(159, 160, 158, 0.431);
}



/*bloc 2 name*/
.genre{
    margin: 20px;
    padding: 20px;
    height: 600px;
    background-color: rgb(26, 175, 175);
    background-size: 90%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.genre__genre{
    display: flex;
    flex-direction: column;
}

.genre__genre p {
    border-radius: 12px;
    background-color: antiquewhite;
}